                                    /* START GLOBAL  */
body {font-family: 'Cairo', sans-serif;height:6000px; }
img {max-width: 100%;}

                                    /* END GLOBAL  */
                                    /* START UPPER BAR  */
.upper-bar {background-color: #2d3e50;color :#bfc3c8; font-weight: bold;}
.upper-bar a {text-decoration: none;}
.upper-bar .arabic {color: #b12b2f;outline: none;}
.upper-bar .english {color:#4c6179;position: relative;}
.upper-bar .english::before {
    content: "";
    width: 1px;
    height: 30px;
    background-color: #4c6179;
    position: absolute;
    right: -3px;

}
.upper-bar .nav-before {position: relative;}
.upper-bar .nav-before::before{
    content: "";
    width: 1px;
    height: 30px;
    background-color: #4c6179;
    position: absolute;
    right: -6px;   
    bottom: -10px;
}
.upper-bar .item {margin-right: 10px;font-size: 20px;color:#fefefe}
                                    /* END UPPER BAR  */
                                    /* START NAV BAR  */
.nav-bar {background-color: #f9f9f9;}
.nav-bar .navbar-brand img {height: 70px;}
.nav-bar .navbar-nav .nav-item {color: #04030380;font-size: 17px;margin-right: 15px; }

.navbar-light .navbar-nav.active> .nav-link {color:#e62b32;}
.nav-bar  .left-1 {font-size: 15px;text-decoration: none;color: #00000080;}
.nav-bar .left-2 {padding: 24px 0;}
.nav-bar .left-2  button {
    background-color: #233142;
    border-radius: 5px;
    color:#ebedf1;
    width:100px;
    padding: 3px;
    border: none;
    outline: none;
}
                                            /* END NAV BAR  */
                                            /* START HEADER  */
.header {background-image: url(../imgs/header.jpg);background-size: cover; }
.header h2 {color:#b12b2f;margin: 120px auto 20px;font-weight: bold;font-size: 28px;}
.header p {font-size: 20px;line-height: 2;}
.header button {
    background-color: #233142;
    color: #ebedf1;
    width: 165px;
    padding: 7px;
    border: none;
    outline: none;
    margin-bottom: 20px;
} 
.header .owl-theme .owl-dots .owl-dot {width: 20px;}
.header .owl-theme .owl-dots .owl-dot span {
    background-color: #fff;
}
.header .owl-theme .owl-dots .owl-dot.active span {background-color: red;}
                                            /* END HEADER  */
                                            /* START ABOUT  */

.about {background-image: url(../imgs/about2.png);}
.about p {margin: 106px auto; font-size: 20px;}
.about p span {color:#b12b2f}
                                    /* END ABOUT  */
                                    /* START ARTICLES  */
.articles {position: relative;margin: 30px;}
.articles .head h2 {color:#b12b2f;position: relative;margin: 20px 120px 0 0;font-weight: bold;}
.articles .head h2::after {
    content: "";
    background-color:#b12b2f ;
    width: 140px;;
    height:2px;
    position: absolute;
    right:0;
    bottom: -18px;;
}
.articles .owl-articles .owl-nav {
    position: absolute;
    top: -95px;
    left: 1px;
    font-size: 70px;
    color: #b0b0b0;
    outline: none;
    font-weight: normal;
}
.articles .owl-articles .owl-nav button {outline: none;}
.articles .owl-articles .owl-nav span {margin-right: 15px;}
.articles .card {position: relative;}
.articles .card .card-img-top {padding: 2px;}
.articles .card .card-body {padding: 2px;}
.articles .card .card-body h5 {color:#b12b2f;font-weight: bold;padding: 2px;}
.articles .card .card-body .card-text {font-size: 16px;color: #525252;padding: 2px; margin:0 ;}
.articles .card .card-body .details {
    background-color: #233142;
    font-size: 18px;
    margin: 10px 25% 7px auto;
    color: #bfc3c9;
    outline: none;
    width:150px;
    padding:5px;
    border:none
}
.articles .card i {
    background-color: #2c3d4f;
    color: #989ca6;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top:5px;
    left:5px;
    font-size:24px
}
                                    /* END ARTICLES  */
                                    /* START DONATIONS  */
.donations {background-color: #f5f5f5;}      
.head2 h2 {
    color: #b12b2f;
    font-weight: bold
}                            
/* .head2 h2::after {
    content: "";
    background-color:#b12b2f ;
    width: 165px;
    height:2px;
    position: absolute;
    bottom: -21px;
    left: 590px;
} */
.donations .first-case {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 0 100px 100px 0;
}
.donations .first-case .blood-type {background-color: #f8f8f8; border-radius: 50%; }
.donations .first-case .fc {border-radius: 50%; background-color: #f8f8f8;}
.donations .first-case span  {display: block;}
.donations button {
    font-size: 18px;
    font-weight: bold;
    color: #404040;
    outline: none;
    width: 90%;
    padding: 20px;
    border: none;
}
/* .donations .first-case .fc a.active {background-color: #233142 ;} */
                                    /* END DONATIONS  */
                                    /* START CALL US  */
.call-us {background-image: url(../imgs/call.jpg);background-size: cover;background-repeat: no-repeat;}
.call-us .info-go  {text-decoration: none;}
.call-us .info-go h2 {
     margin-top: 50px; 
     margin-bottom: 50px;
     font-size: 30px ;
      color:#b12b2f;
      position: relative;
      font-weight: bold;
      outline: 0;
      text-align: center;
    }
.call-us .info-go :after {
    content: "";
    background-color:#b12b2f ;
    width:98px;
    height:1px;
    position: absolute;
    right: 268px;
    bottom:-5px
}
.call-us p {font-weight: bold;font-size: 18px;color:#3a3b3e;text-align: center;margin-bottom: 50px;}
.call-us .info {margin-bottom: 53px; position: relative;margin-right: 120px;}
.call-us .info a {text-decoration: none;}
.call-us .info2 {
    background-color: #3ab54a;
    font-size: 22px;
    color: #e9f6ea;
    border-radius: 50px;
    padding: 18px 40px 18px 0;
}
.call-us img {height:90px;position: absolute;top: -6px;left: 7px;}
                                    /* END CALL US  */
                                    /* START APP  */
.app {background-image: url(../imgs/BG-phone.png);}
.app .zero {margin-bottom: 30px 0;}
.app .zero h2 {
    margin-top: 75px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    color:#4c4648
}
.app .zero p {
    font-size: 22px;
    line-height: 2.3;
    color: #636061;
}

.app .one p {
    margin-right: 120px;
    font-size: 25px;
    font-weight: bold;
    color:#4c4648
}
.app .one img {width:180px}
.app .two {margin: 30px 0;}
                                    /* END APP  */
                                    /* START UPPER FOOTER  */
    .upper-footer {background-color: #1a1f25;color:#d9dadb;}
    .upper-footer .first-footer {margin-top:40px }
    .upper-footer .first-footer img {height: 60px;}
    .upper-footer .first-footer h2 {font-size: 20px; margin:20px 0;font-weight: bold;}
    .upper-footer .first-footer p {color:#aeb2b4;line-height: 1.9;font-size: 15px;}
    .upper-footer .second-footer {margin-top: 40px ;}
    .upper-footer .second-footer li {line-height: 2.5;color:#b3b6ba;font-size: 15px;font-weight: bold;}
    .upper-footer .second-footer .l1 {color: #cf1c21}
    .upper-footer .second-footer a {text-decoration: none;}
    .upper-footer .third-footer {margin-top: 40px;}
    .upper-footer .third-footer h2 {color: #cf1c21;font-size: 15px;font-weight: bold;margin-bottom: 30px;}
    .upper-footer .third-footer img {margin: 15px 0;height: 60px;}
                                    /* END UPPER FOOTER  */
                                    /* START FOOTER  */
    .footer {background-color: #14171c;color:#d9dadb;padding: 10px;}
    .footer i {font-size: 24px; letter-spacing: 20px;color: #eeeeee;}
    .footer span {color:#cf1c21;font-size: 12px;}
    .footer .down {font-size: 12px;}
                                    /* END FOOTER  */
                                    /* START REGISTER PAGE  */
    .upper-bar .reg-left a {
    color: #d2d4d8;
    font-size: 13px;
    padding: 0;
    text-decoration: underline;
    }
    .upper-bar .reg-left-2 a {color: #d69d34;font-size: 15px;}
   .register {background-color: #fbfbfb;border-top: 2px solid #efefef;}
   .register a {text-decoration: none;}
   .register .register-head {
    background-color: #fff;
    border: 2px solid #efefef;
    padding: 20px;
    margin: 30px 60px;
   }
   .register .register-head a {color: #cfcfcf;}
   .register .register-head span {color:#9a9ca1;}
   .register-1 {
       background-color: #fff;
       border: 2px solid #efefef;
       padding: 20px;
       margin: 30px 60px;
    }
    .register .form-control {
        border-radius: 0;
        background-color: #fbfbfb;
        font-weight: bold;
        border: 1px solid #efefef;
        padding: 20px;
        color:#616161;
        width:85%;
        margin:40px auto;
        padding:30px;
        font-size: 18px;
        
    }
    input[type=checkbox] { transform: scale(2);padding: 10px;height: 10px;}
    .form-check {padding: 0;}
    .form-check-input {top:7px}
    .register .forgot-pass { margin:0 0 30px;}
    .register .forgot-pass a {color: #3c3c3c;font-size: 20px; font-weight: bold;}
    .register .remeber-me {margin: 0 0 30px;}
    .register .form-check-label {font-size: 20px; margin-right: 10px;font-weight: bold;}
    .register .login button,
    .register .new-acc button {
        width: 100%;
         background-color: #3ab54a;
          color: #e2ebe4;
          font-size: 25px;
          padding: 10px;
          margin: 40px 0;
          border: #dfe1e0;
          

        }
    .register .new-acc button {
         background-color: #2d3e50;
         color: #ccd1d5;
        
        }
    .register .forgot-pass img {height: 20px;}
    
                                 /* END REGISTER PAGE  */
                                 /* START NEW ACCOUNT PAGE  */
    .new-account {background-color: #fbfbfb;border-top: 2px solid #efefef;}
    .new-account .new-account-head {
        background-color: #fff;
        padding: 20px;
        margin: 30px 60px;
    }
    .new-account a {text-decoration: none;}
    .new-account .new-account-head a {color: #cfcfcf;}
   .new-account .new-account-head span {color:#9a9ca1;}
   .new-acc-2 {
       background-color: #fff;
       border: 2px solid #efefef;
       padding: 20px;
       margin: 30px 60px;
    }
    .new-acc-2 .form-control {
        border-radius: 0;
        background-color: #fbfbfb;
        font-weight: bold;
        border: 1px solid #efefef;
        padding: 20px;
        color:#616161;
        width:85%;
        margin:40px auto;
        padding:30px;
        font-size: 18px;
    }
    .new-account-head-2 .form-group {text-align: center;}
    .new-account-head-2 button {
        background-color: #3ab54a;
        color: #e2ebe4;
        font-size: 25px;
        padding: 10px;
        border: #dfe1e0;
        width: 50%
    }
    .font-user {position: relative;}
    .font-user i {
        position: absolute;
        left: 100px;
        top:18px;
        font-size: 24px;
    }

                                 /* END NEW ACCOUNT PAGE  */
                                    /* START MEDIA  */
    @media (max-width: 768px) {
    /* .donations h2::after{left: 335px;} */
    .header {background-image: none;}
    .about{background-image: none;}
    .about p{margin:0}
    .call-us {background-image: none;}
    .call-us .info{margin-right: 45px;}
    .call-us .info2 {font-size: 18px;}
    .call-us img {top: -10px;left: 12px;}

} 
@media (min-width: 992px) {
    .nav-bar .left-1 {margin-right: 60px;}
    .navbar .nav-link {padding: 27px;}
    .navbar {padding-bottom: 0;}
    .navbar-light .navbar-nav .active>.nav-link {
        color:#e62b32;
        border-bottom: 2px solid #e62b32;
    }
    
    .navbar-light .navbar-nav .nav-before {position: relative;}
    .navbar-light .navbar-nav .nav-before::before{
        content: "";
        width: 1px;
        height: 30px;
        background-color: #eeeeee;
        position: absolute;
        right: -8px;   
    }
}
                                    /* END MEDIA  */